body {
  background-color: rgb(76, 66, 66);
}
#block {
  width : 800px;
  height: 800px;
  background-color: rgb(239, 177, 19);
  margin:auto;
  position:relative;


}

#pawn {
  background-color: red;
  height:40px;
  width:40px;
  margin:auto;
  top: 0;
  left: 0;
  position:absolute;
}
